<h1>Follow me</h1>
<p>Crowdsourced travel for everyone!</p>
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Find path!</button>
      </span>
    </div>
</div>
