<div class="jumbotron">
  <div class="container">
      <h1>Developers</h1>
      <p>Take advantage of the power of Follow me in your app.</p>
      <p>Get started with one of our guides, or jump straight into the API documentation.</p>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          HTTP Verbs
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table>
          <thead>
            <tr>
              <th>Verb</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>GET</code></td>
              <td>The <code>GET</code> method retrieves a representation of the specified resource.</td>
            </tr>
            <tr>
              <td><code>HEAD</code></td>
              <td>The <code>HEAD</code> method asks for a response identical to that of a GET request, but without the response body. This is useful for retrieving meta-information written in response headers, without having to transport the entire content.</td>
            </tr>
            <tr>
              <td><code>POST</code></td>
              <td>Used for creating resources. The <code>POST</code> method requests that the server accept the entity enclosed in the request as a new subordinate of the web resource identified by the URI. </td>
            </tr>
            <tr>
              <td><code>PUT</code></td>
              <td>The <code>PUT</code> method requests that the enclosed entity be stored under the supplied URI. If the URI refers to an already existing resource, it is modified; if the URI does not point to an existing resource, then the server can create the resource with that URI.</td>
            </tr>
            <tr>
              <td><code>DELETE</code></td>
              <td>Used for deleting resources.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <code>GET</code> paths/
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p><code>GET https://follow-me-capenalo.c9users.io/paths/</code> : Gets all the records for Paths.</p>
        <p><code>GET https://follow-me-capenalo.c9users.io/paths/[path_id]</code> : Gets the Path with id = path_id</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <code>PUT</code> paths/
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <code>POST</code> paths/
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <code>DELETE</code> paths/
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
      </div>
    </div>
  </div>
</div>