<div class="jumbotron">
  <div class="container">
    <h1>About Us</h1>
        <h3>Phone: </h3>
    <p>616-234-5678</p>
        
    <h3>Address: </h3>
    <p>450 Weird Street W<br></br>
    Grand Rapids, MI 49504</p>
    <br></br>
    
    <p>Follow me - Version 1.0.1<br></br> 
    © 2016 Capenalo, LLC</p>
    <p>
      <%= link_to 'http://www.followme.com/', controller: 'base' %><br></br>
      <a href="mailto:cservice@visibug.com">cservice@followme.com</a>
    </p>
  </div>
</div>